@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: REM, Arial, sans-serif;
  margin: 0px !important;
  background-color: #303030;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

header {
  height: 40px;
  font-size: 35px;
  text-align: center;
  padding: 15px;
}

section {
  margin-top: 10px;
  padding: 20px;
  height: calc(100% - 120px);
  overflow-y: auto;
}

.calc {
  display: grid;
  place-items: center;
}

footer {
  text-align: center;
  padding: 0px 20px;
  height: 40px;
  position: absolute;
  bottom: 0;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #4b4b4b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

input[type="button"] {
  background-color: #ce3a3a;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #c9c9c9;
}

a:active {
  color: #ce3a3a;
}

#lapsPat,
#timePat,
#boxPat {
  color: red;
}
