@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: REM, Arial, sans-serif;
  margin: 0;
  background-color: #303030;
  color: white;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

header {
  height: 40px;
  font-size: 35px;
  text-align: center;
  padding: 15px;
}

nav {
  width: 100%;
  margin: 35px 0 20px 0;
  background-color: #e80404;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

.navol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  height: 35px;
  line-height: 200%;
  display: inline-block;
}

.navol a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.navol > li {
  float: left;
  width: 150px;
  height: 40px;
}

.navol > li:hover {
  background-color: #ed3636;
}

.navol > li:hover > a {
  color: #a20303;
}

section {
  padding: 20px;
  height: calc(100% - 120px);
  overflow-y: auto;
}

.calc {
  display: grid;
  /* place-items: center; */
}

footer {
  text-align: center;
  padding: 50px 20px;
  height: 40px;
  position: absolute;
  bottom: 0;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: #4b4b4b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}


input:disabled {
  background-color: #262626;
}

input:disabled::placeholder {
  text-decoration: line-through;
}

input[type="button"],
button {
  background-color: #e80404;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #c9c9c9;
}

a:active {
  color: #e80404;
}

ul > h3 {
  margin: 0px 30px;
}

ul > li {
  margin: 10px 80px;
}

#lapsPat,
#timePat,
#boxPat {
  color: red;
}

h1 {
  text-align: center;
}

h2{
  margin: 10px 0;
  text-align: center;
}

/* Custom champ calc styles */

.hide {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}

.show {
  visibility: visible;
  height: auto;
  margin: 10px 0;
  padding: 8px;
}

#result{
  text-align: center;
}

/* Specific adjustments for the sprint inputs to minimize space */
#sprint.hide,
#sp1.hide,
#sp2.hide {
  display: none; /* Completely remove from the layout when hidden */
}

#sprint.show,
#sp1.show,
#sp2.show {
  display: block; /* Restore their visibility when shown */
  height: auto;
  margin: 10px 0;
  padding: 8px;
}

input[type="checkbox"] {
  width: auto;
  margin: 0;
}

label {
  margin: 0;
  padding: 0;
}

#season2023{
  width: 100%;
}